# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/
env/
*.log

# Databases (runtime data)
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/

# Editor
.vscode/*
.idea/
*.suo
.DS_Store

# Env
.env
*.local

# OS
Thumbs.db